# Lab 1 - Creating the SQL Tables

In this lab, use `sqlalchemy` to create, populate, and query a table from the baseball database, as well as for the `super_hero_powers.csv` table.

In [1]:
import pandas as pd
artwork = pd.read_csv("./data/Artworks.csv")

## Part 1 - Baseball Managers

In this part of the lab, you will walk through the process of creating a manager table from [Lahmanâ€™s Baseball Database](http://www.seanlahman.com/baseball-archive/statistics/)

## Task 1 - Download, unzip, rename 

1. Download the baseball database linked above (save to desktop)
2. Unzip the file and rename to `baseball`
3. Load the `core/Managers.csv` file into a pandas `DataFrame` using `read_csv`
4. Inspect the `column` names and `dtypes`

In [5]:
import pandas as pd
managers = pd.read_csv('~/Desktop/baseball/core/Managers.csv')
managers.head()

    playerID  yearID teamID lgID  inseason   G   W   L  rank plyrMgr
0  wrighha01    1871    BS1  NaN         1  31  20  10   3.0       Y
1   woodji01    1871    CH1  NaN         1  28  19   9   2.0       Y
2  paborch01    1871    CL1  NaN         1  29  10  19   8.0       Y
3  lennobi01    1871    FW1  NaN         1  14   5   9   8.0       Y
4  deaneha01    1871    FW1  NaN         2   5   2   3   8.0       Y

In [6]:
managers.columns

Index(['playerID', 'yearID', 'teamID', 'lgID', 'inseason', 'G', 'W', 'L',
       'rank', 'plyrMgr'],
      dtype='object')

In [17]:
managers.dtypes

playerID     object
yearID        int64
teamID       object
lgID         object
inseason      int64
G             int64
W             int64
L             int64
rank        float64
plyrMgr      object
dtype: object

In [18]:
managers.reset_index()
managers

       playerID  yearID teamID lgID  inseason    G    W   L  rank plyrMgr
0     wrighha01    1871    BS1  NaN         1   31   20  10   3.0       Y
1      woodji01    1871    CH1  NaN         1   28   19   9   2.0       Y
2     paborch01    1871    CL1  NaN         1   29   10  19   8.0       Y
3     lennobi01    1871    FW1  NaN         1   14    5   9   8.0       Y
4     deaneha01    1871    FW1  NaN         2    5    2   3   8.0       Y
5     fergubo01    1871    NY2  NaN         1   33   16  17   5.0       Y
6     mcbridi01    1871    PH1  NaN         1   28   21   7   1.0       Y
7     hastisc01    1871    RC1  NaN         1   25    4  21   9.0       Y
8      pikeli01    1871    TRO  NaN         1    4    1   3   6.0       Y
9     cravebi01    1871    TRO  NaN         2   25   12  12   6.0       Y
10    youngni99    1871    WS3  NaN         1   32   15  15   4.0       N
11    cravebi01    1872    BL1  NaN         1   41   27  13   2.0       Y
12    millsev01    1872    BL1  NaN         2   17    8   6   2.0       Y
13    clintji01    1872    BR1  NaN         1   11    0  11   9.0       Y
14     woodji01    1872    BR1  NaN         2   18    3  15   9.0       Y
15    fergubo01    1872    BR2  NaN         1   37    9  28   7.0       Y
16    wrighha01    1872    BS1  NaN         1   48   39   8   1.0       Y
17    hastisc01    1872    CL1  NaN         1   20    6  14   7.0       Y
18    whitede01    1872    CL1  NaN         2    2    0   2   7.0       Y
19    clappjo01    1872    MID  NaN         1   24    5  19   9.0       Y
20    pearcdi01    1872    NY2  NaN         1   16   10   6   3.0       Y
21    hatfijo01    1872    NY2  NaN         2   40   24  14   3.0       Y
22    mcbridi01    1872    PH1  NaN         1   47   30  14   2.0       Y
23     woodji01    1872    TRO  NaN         1   25   15  10   5.0       Y
24    youngni99    1872    WS3  NaN         1    9    2   7   8.0       N
25    millejo01    1872    WS4  NaN         1   11    0  11  11.0       Y
26    mcveyca01    1873    BL1  NaN         1   33   20  13   3.0       Y
27    careyto01    1873    BL1  NaN         2   24   14   9   3.0       Y
28    smithbi01    1873    BL4  NaN         1    5    0   5   9.0       Y
29    fergubo01    1873    BR2  NaN         1   55   17  37   6.0       Y
...         ...     ...    ...  ...       ...  ...  ...  ..   ...     ...
3439  francte01    2017    CLE   AL         1  162  102  60   1.0       N
3440  ausmubr01    2017    DET   AL         1  162   64  98   5.0       N
3441  hinchaj01    2017    HOU   AL         1  162  101  61   1.0       N
3442   yostne01    2017    KCA   AL         1  162   80  82   3.0       N
3443  sciosmi01    2017    LAA   AL         1  162   80  82   2.0       N
3444  molitpa01    2017    MIN   AL         1  162   85  77   2.0       N
3445  girarjo01    2017    NYA   AL         1  162   91  71   2.0       N
3446  melvibo01    2017    OAK   AL         1  162   75  87   5.0       N
3447  servasc01    2017    SEA   AL         1  162   78  84   4.0       N
3448   cashke01    2017    TBA   AL         1  162   80  82   3.0       N
3449  banisje01    2017    TEX   AL         1  162   78  84   3.0       N
3450  gibbojo02    2017    TOR   AL         1  162   76  86   4.0       N
3451  lovulto01    2017    ARI   NL         1  162   93  69   2.0       N
3452  snitkbr99    2017    ATL   NL         1  162   72  90   3.0       N
3453  maddojo99    2017    CHN   NL         1  162   92  70   1.0       N
3454  pricebr99    2017    CIN   NL         1  162   68  94   5.0       N
3455  blackbu02    2017    COL   NL         1  161   87  74   3.0       N
3456  redmomi01    2017    COL   NL         2    1    0   1   3.0       N
3457  roberda07    2017    LAN   NL         1  162  104  58   1.0       N
3458  mattido01    2017    MIA   NL         1  162   77  85   2.0       N
3459  counscr01    2017    MIL   NL         1  162   86  76   2.0       N
3460  collite99    2017    NYN   NL         1  162   70  92   4.0       N
3461  mackape01    2017    PHI   NL         1  162   66  96   5.0       N
3462  hurdlcl01    2017    PIT   NL         1  162   75  87   4.0       N
3463  greenan01    2017    SDN   NL         1  162   71  91   4.0       N
3464  bochybr01    2017    SFN   NL         1  160   63  97   5.0       N
3465  wotusro01    2017    SFN   NL         2    2    1   1   5.0       N
3466  mathemi01    2017    SLN   NL         1  162   83  79   3.0       N
3467  bakerdu01    2017    WAS   NL         1  160   95  65   1.0       N
3468  speiech01    2017    WAS   NL         2    2    2   0   1.0       N

[3469 rows x 10 columns]

#### Task 2 - Create a `sqlalchemy` types `dict`

In [9]:
from sqlalchemy import String, Integer
sql_types = {'playerID': String,
            'plyrMgr': String,
            'teamID': String,
            'lgID': String,
            'yearID': Integer,
            'inseason': Integer,
            'G': Integer,
            'W': Integer,
            'L': Integer,
            'rank': Integer}

#### Task 4 - Create an `engine` and `schema`

In [10]:
!rm databases/baseball.db

rm: databases/baseball.db: No such file or directory

In [14]:
from sqlalchemy import create_engine
mang_eng = create_engine("sqlite:///databases/baseball.db")
mang_eng.echo = True
schema = pd.io.sql.get_schema(managers, 'manager', keys= 'playerID', con= mang_eng, dtype= sql_types)
print(schema)

CREATE TABLE manager (
	"playerID" VARCHAR NOT NULL,
	"yearID" INTEGER,
	"teamID" VARCHAR,
	"lgID" VARCHAR,
	inseason INTEGER,
	"G" INTEGER,
	"W" INTEGER,
	"L" INTEGER,
	rank INTEGER,
	"plyrMgr" VARCHAR,
	CONSTRAINT manager_pk PRIMARY KEY ("playerID")
)

In [15]:
#Execute the Schema
mang_eng.execute(schema)

2019-01-25 08:48:40,310 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-25 08:48:40,314 INFO sqlalchemy.engine.base.Engine ()
2019-01-25 08:48:40,318 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-25 08:48:40,322 INFO sqlalchemy.engine.base.Engine ()
2019-01-25 08:48:40,326 INFO sqlalchemy.engine.base.Engine
CREATE TABLE manager (
	"playerID" VARCHAR NOT NULL,
	"yearID" INTEGER,
	"teamID" VARCHAR,
	"lgID" VARCHAR,
	inseason INTEGER,
	"G" INTEGER,
	"W" INTEGER,
	"L" INTEGER,
	rank INTEGER,
	"plyrMgr" VARCHAR,
	CONSTRAINT manager_pk PRIMARY KEY ("playerID")
)


2019-01-25 08:48:40,328 INFO sqlalchemy.engine.base.Engine ()
2019-01-25 08:48:40,334 INFO sqlalchemy.engine.base.Engine COMMIT

#### Task 5 - Use `to_sql` with `if_exists='append'` to insert the data

In [16]:
managers.to_sql('manager',
               con=mang_eng,
               dtype=sql_types,
               index=False,
               if_exists='append')

2019-01-25 08:49:26,989 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("manager")
2019-01-25 08:49:26,992 INFO sqlalchemy.engine.base.Engine ()
2019-01-25 08:49:26,999 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-25 08:49:27,043 INFO sqlalchemy.engine.base.Engine INSERT INTO manager ("playerID", "yearID", "teamID", "lgID", inseason, "G", "W", "L", rank, "plyrMgr") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2019-01-25 08:49:27,045 INFO sqlalchemy.engine.base.Engine (('wrighha01', 1871, 'BS1', None, 1, 31, 20, 10, 3.0, 'Y'), ('woodji01', 1871, 'CH1', None, 1, 28, 19, 9, 2.0, 'Y'), ('paborch01', 1871, 'CL1', None, 1, 29, 10, 19, 8.0, 'Y'), ('lennobi01', 1871, 'FW1', None, 1, 14, 5, 9, 8.0, 'Y'), ('deaneha01', 1871, 'FW1', None, 2, 5, 2, 3, 8.0, 'Y'), ('fergubo01', 1871, 'NY2', None, 1, 33, 16, 17, 5.0, 'Y'), ('mcbridi01', 1871, 'PH1', None, 1, 28, 21, 7, 1.0, 'Y'), ('hastisc01', 1871, 'RC1', None, 1, 25, 4, 21, 9.0, 'Y')  ... displaying 10 of 3469 total bound parameter sets ...  ('bakerdu01', 2017, 'WAS', 'NL', 1, 160, 95, 65, 1.0, 'N'), ('speiech01', 2017, 'WAS', 'NL', 2, 2, 2, 0, 1.0, 'N'))
2019-01-25 08:49:27,047 INFO sqlalchemy.engine.base.Engine ROLLBACK

IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: manager.playerID [SQL: 'INSERT INTO manager ("playerID", "yearID", "teamID", "lgID", inseason, "G", "W", "L", rank, "plyrMgr") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)'] [parameters: (('wrighha01', 1871, 'BS1', None, 1, 31, 20, 10, 3.0, 'Y'), ('woodji01', 1871, 'CH1', None, 1, 28, 19, 9, 2.0, 'Y'), ('paborch01', 1871, 'CL1', None, 1, 29, 10, 19, 8.0, 'Y'), ('lennobi01', 1871, 'FW1', None, 1, 14, 5, 9, 8.0, 'Y'), ('deaneha01', 1871, 'FW1', None, 2, 5, 2, 3, 8.0, 'Y'), ('fergubo01', 1871, 'NY2', None, 1, 33, 16, 17, 5.0, 'Y'), ('mcbridi01', 1871, 'PH1', None, 1, 28, 21, 7, 1.0, 'Y'), ('hastisc01', 1871, 'RC1', None, 1, 25, 4, 21, 9.0, 'Y')  ... displaying 10 of 3469 total bound parameter sets ...  ('bakerdu01', 2017, 'WAS', 'NL', 1, 160, 95, 65, 1.0, 'N'), ('speiech01', 2017, 'WAS', 'NL', 2, 2, 2, 0, 1.0, 'N'))]

#### Task 6 - Query the table to make sure it all worked

## Part 2 - Super Hero Powers

Now make a database and table for the super hero powers.

## Problem 1
    
**Task:** One the `super_hero_powers.csv` and verify that the contents of the columns are all Boolean.  In this problem, you need to

1. Create a `dict` that defines the `pandas` column type
2. Read the file in using a `pd.read_csv`.
3. Clean up all the column labels.
    
**Be sure to write clean code!**

## Problem 2
    
Now define an `sqlalchemy` table for these data using `pandas` `to_sql` dataframe method.  You can use the `sqlalchemy.String` and `sqlalchemy.Boolean` columns type, which are [documented here](https://docs.sqlalchemy.org/en/latest/core/type_basics.html)

## Problem 3
    
Now you need to make a new `engine`, `inspect` your database, and make a `session` to query the database.

## Problem 4
    
Perform `sqlalchemy` queries to answer each of the following questions.

1. How many heroes have both Super Strength and Super Speed?
2. How many heroes have names that start with the word *Black*
3. Are heroes with Agility more likely to have Stealth?
4. What fraction of all heroes that can fly also have Super Strength?
5. Consider heroes that have names that contain `"girl"`, `"boy"`, `"woman"`, or `"man"`.  Compute the following ratio

$$\frac{N(\text{boy or man})}{N(\text{girl or woman}}$$

**Hint:** You will need to use some combination of `where`, `group_by`, and `count` for each part.

## Problem 5

Tell me another cool fact about the super powers.