# Lab 4 - Oral Flag Feedback

Most of your are probably familiar with Dr. Malone's oral flag presentation review website.  The file `OralFlag_example.csv` contains an example table dump from associated Dr. Malone's database.  Your job is to make an number of summary files, as described below.

## <font color="red"> Problem 1 - Read and Inspect the File</font>

Read the file `OralFlag_example.csv` and inspect the columns, looking for any possible errors.  Note that the file is missing a header, so I have provided the column labels below.

In [1]:
oral_flag_columns = ['Id', 'Time', 'Term', 'Submission', 'Group', 'Reviewer',
                     'Knowledge_of_Subject', 'Clear_Outcomes', 'Organization', 'Delivery',
                     'Comments_Most_Effective', 'Comments_Improvements']

In [2]:
import pandas as pd
from dfply import *

In [3]:
oralflag = pd.read_csv("./data/OralFlag_example1.csv", names=oral_flag_columns)
oralflag.head()

,Id,Time,Term,Submission,Group,Reviewer,Knowledge_of_Subject,Clear_Outcomes,Organization,Delivery,Comments_Most_Effective,Comments_Improvements
0,1,2011-01-01 00:00:00.000000000,Fall2018,1,1,Chris,3,2,1,3,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!
1,2,2011-01-01 00:14:32.727272704,Fall2018,1,1,Brant,2,3,3,2,Silas looks young enough to be a student,Silas looks young enough to be a student
2,3,2011-01-01 00:29:05.454545408,Fall2018,1,1,April,3,1,3,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!
3,4,2011-01-01 00:43:38.181818112,Fall2018,1,1,Tisha,2,1,2,3,Silas is dumb,Silas is dumb
4,5,2011-01-01 00:58:10.909090816,Fall2018,1,1,Todd,3,1,1,1,Iverson >> Bergen,Iverson >> Bergen

In [4]:
#change to silas is a dork and iverson > bergen
oralflag["Comments_Most_Effective"] = oralflag["Comments_Most_Effective"].str.replace('dumb', 'a dork')
oralflag["Comments_Improvements"] = oralflag["Comments_Improvements"].str.replace('dumb', 'a dork')
oralflag["Comments_Most_Effective"] = oralflag["Comments_Most_Effective"].str.replace('>>', '>')
oralflag["Comments_Improvements"] = oralflag["Comments_Improvements"].str.replace('>>', '>')
oralflag

,Id,Time,Term,Submission,Group,Reviewer,Knowledge_of_Subject,Clear_Outcomes,Organization,Delivery,Comments_Most_Effective,Comments_Improvements
0,1,2011-01-01 00:00:00.000000000,Fall2018,1,1,Chris,3,2,1,3,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!
1,2,2011-01-01 00:14:32.727272704,Fall2018,1,1,Brant,2,3,3,2,Silas looks young enough to be a student,Silas looks young enough to be a student
2,3,2011-01-01 00:29:05.454545408,Fall2018,1,1,April,3,1,3,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!
3,4,2011-01-01 00:43:38.181818112,Fall2018,1,1,Tisha,2,1,2,3,Silas is a dork,Silas is a dork
4,5,2011-01-01 00:58:10.909090816,Fall2018,1,1,Todd,3,1,1,1,Iverson > Bergen,Iverson > Bergen
5,6,2011-01-01 01:12:43.636363520,Fall2018,1,1,Silas,2,2,2,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!
6,7,2011-01-01 01:27:16.363636480,Fall2018,1,1,Jeff,2,2,3,2,Python is the best,I hate R almost as much as Excel!!1!
7,8,2011-01-01 01:41:49.090909184,Fall2018,1,1,Nicole,3,2,1,3,Iverson > Bergen,Silas looks young enough to be a student
8,9,2011-01-01 01:56:21.818181888,Fall2018,1,1,Jake,1,2,1,3,Python is the best,I hate R almost as much as Excel!!1!
9,10,2011-01-01 02:10:54.545454592,Fall2018,1,1,Sam,1,2,2,3,Iverson > Bergen,Python is the best
10,11,2011-01-01 02:25:27.272727296,Fall2018,1,2,Chris,2,3,1,3,Iverson > Bergen,Silas looks young enough to be a student
11,12,2011-01-01 02:40:00.000000000,Fall2018,1,2,Brant,3,2,2,2,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!
12,13,2011-01-01 02:54:32.727272704,Fall2018,1,2,April,3,2,1,1,Iverson > Bergen,I hate R almost as much as Excel!!1!
13,14,2011-01-01 03:09:05.454545408,Fall2018,1,2,Tisha,2,1,2,3,Silas is a dork,Silas looks young enough to be a student
14,15,2011-01-01 03:23:38.181818112,Fall2018,1,2,Todd,3,2,2,2,I hate R almost as much as Excel!!1!,Iverson > Bergen
15,16,2011-01-01 03:38:10.909090816,Fall2018,1,2,Silas,3,1,1,3,I hate R almost as much as Excel!!1!,Silas is a dork
16,17,2011-01-01 03:52:43.636363520,Fall2018,1,2,Jeff,3,2,2,3,Iverson > Bergen,Python is the best
17,18,2011-01-01 04:07:16.363636480,Fall2018,1,2,Nicole,2,1,2,1,Silas is a dork,I hate R almost as much as Excel!!1!
18,19,2011-01-01 04:21:49.090909184,Fall2018,1,2,Jake,2,1,2,1,Silas looks young enough to be a student,Silas is a dork
19,20,2011-01-01 04:36:21.818181888,Fall2018,1,2,Sam,1,1,2,2,Python is the best,Silas looks young enough to be a student
20,21,2011-01-01 04:50:54.545454592,Fall2018,1,3,Chris,2,2,3,2,I hate R almost as much as Excel!!1!,Python is the best
21,22,2011-01-01 05:05:27.272727296,Fall2018,1,3,Brant,1,3,1,2,Iverson > Bergen,Iverson > Bergen
22,23,2011-01-01 05:20:00.000000000,Fall2018,1,3,April,1,3,3,1,Python is the best,Silas is a dork
23,24,2011-01-01 05:34:32.727272704,Fall2018,1,3,Tisha,2,2,1,3,Silas looks young enough to be a student,Iverson > Bergen
24,25,2011-01-01 05:49:05.454545408,Fall2018,1,3,Todd,3,2,2,2,Silas is a dork,Silas is a dork
25,26,2011-01-01 06:03:38.181818112,Fall2018,1,3,Silas,1,2,2,3,Iverson > Bergen,Silas looks young enough to be a student
26,27,2011-01-01 06:18:10.909090816,Fall2018,1,3,Jeff,3,2,2,2,Iverson > Bergen,Python is the best
27,28,2011-01-01 06:32:43.636363520,Fall2018,1,3,Nicole,3,1,3,2,Silas looks young enough to be a student,Iverson > Bergen
28,29,2011-01-01 06:47:16.363636480,Fall2018,1,3,Jake,2,1,1,1,Iverson > Bergen,Silas is a dork
29,30,2011-01-01 07:01:49.090909184,Fall2018,1,3,Sam,3,1,3,1,I hate R almost as much as Excel!!1!,Iverson > Bergen
...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,2011-01-01 16:58:10.909090816,Fall2018,1,8,Chris,2,3,2,3,Silas looks young enough to be a student,Silas looks young enough to be a student
71,72,2011-01-01 17:12:43.636363520,Fall2018,1,8,Brant,1,3,2,1,Python is the best,Iverson > Bergen
72,73,2011-01-01 17:27:16.363636480,Fall2018,1,8,April,3,2,1,3,Iverson > Bergen,Python is the best
73,74,2011-01-01 17:41:49.090909184,Fall2018,1,8,Tisha,1,3,2,1,Python is the best,Iverson > Bergen
74,75,2011-01-01 17:56:21.818181888,Fall2018,1,8,Todd,3,3,2,1,Silas is a dork,Silas looks young enough to be a student
75,76,2011-01-01 18:10:54.545454592,Fall2018,1,8,Silas,1,1,3,3,Silas looks young enough to be a student,I hate R almost as much as Excel!!1!
76,77,2011-01-01 18:25:27.272727296,Fall2018,1,8,Jeff,3,2,2,1,Iverson > Bergen,Silas is a dork
77,78,2011-01-01 18:40:00.000000000,Fall2018,1,8,Nicole,3,1,3,3,Silas looks young enough to be a student,I hate R almost as much as Excel!!1!
78,79,2011-01-01 18:54:32.727272704,Fall2018,1,8,Jake,2,2,1,2,Iverson > Bergen,Python is the best
79,80,2011-01-01 19:09:05.454545408,Fall2018,1,8,Sam,1,1,1,1,Silas looks young enough to be a student,Python is the best
80,81,2011-01-01 19:23:38.181818112,Fall2018,1,9,Chris,1,2,1,2,Silas looks young enough to be a student,Iverson > Bergen
81,82,2011-01-01 19:38:10.909090816,Fall2018,1,9,Brant,2,3,1,1,Iverson > Bergen,Python is the best
82,83,2011-01-01 19:52:43.636363520,Fall2018,1,9,April,1,2,2,3,I hate R almost as much as Excel!!1!,Silas looks young enough to be a student
83,84,2011-01-01 20:07:16.363636480,Fall2018,1,9,Tisha,2,1,1,2,I hate R almost as much as Excel!!1!,Iverson > Bergen
84,85,2011-01-01 20:21:49.090909184,Fall2018,1,9,Todd,3,1,2,3,Python is the best,I hate R almost as much as Excel!!1!
85,86,2011-01-01 20:36:21.818181888,Fall2018,1,9,Silas,2,2,2,3,Silas looks young enough to be a student,Iverson > Bergen
86,87,2011-01-01 20:50:54.545454592,Fall2018,1,9,Jeff,1,2,1,1,Python is the best,Python is the best
87,88,2011-01-01 21:05:27.272727296,Fall2018,1,9,Nicole,1,1,2,1,Python is the best,Iverson > Bergen
88,89,2011-01-01 21:20:00.000000000,Fall2018,1,9,Jake,2,1,1,3,Iverson > Bergen,Iverson > Bergen
89,90,2011-01-01 21:34:32.727272704,Fall2018,1,9,Sam,3,1,3,2,Iverson > Bergen,I hate R almost as much as Excel!!1!
90,91,2011-01-01 21:49:05.454545408,Fall2018,1,10,Chris,3,3,1,1,I hate R almost as much as Excel!!1!,Python is the best
91,92,2011-01-01 22:03:38.181818112,Fall2018,1,10,Brant,2,3,1,1,Silas looks young enough to be a student,Iverson > Bergen
92,93,2011-01-01 22:18:10.909090816,Fall2018,1,10,April,2,1,2,1,Silas looks young enough to be a student,Python is the best
93,94,2011-01-01 22:32:43.636363520,Fall2018,1,10,Tisha,3,3,1,3,Iverson > Bergen,Python is the best
94,95,2011-01-01 22:47:16.363636480,Fall2018,1,10,Todd,3,2,1,1,Silas is a dork,Silas looks young enough to be a student
95,96,2011-01-01 23:01:49.090909184,Fall2018,1,10,Silas,1,3,3,2,Python is the best,Silas looks young enough to be a student
96,97,2011-01-01 23:16:21.818181888,Fall2018,1,10,Jeff,1,1,3,1,Iverson > Bergen,Silas is a dork
97,98,2011-01-01 23:30:54.545454592,Fall2018,1,10,Nicole,3,1,1,2,Iverson > Bergen,Iverson > Bergen
98,99,2011-01-01 23:45:27.272727296,Fall2018,1,10,Jake,3,3,3,2,Python is the best,Python is the best
99,100,2011-01-02 00:00:00.000000000,Fall2018,1,10,Sam,2,3,2,1,I hate R almost as much as Excel!!1!,Python is the best

## <font color="red"> Problem 2 - Scoring Table</font>

First, you need to make a scoring table, which provides an average of the scores for each group, along with the final score for that group.  The weighted score is the average of the instructor total score (assume the instructor is `"Todd"`) and the average total for the rest of the reviewers.

For example, consider the following scores.  The computation of the total score is illustrated below.  Make sure your final table has the following columns: `Group`, `Knowledge_of_Subject_mean`, `Clear_Outcomes_mean`,  `Organization_mean`, `Delivery_mean`, `overall_score`

**For full credit, do this in one pipe.**

In [5]:
# Example of how to compute the weighted score
import pandas as pd
scores = pd.DataFrame({'Reviewer':["Todd", "Chris", "Silas", "Tisha"],
                       'Knowledge_of_Subject':[2,3,4, 4],
                       'Clear_Outcomes':      [3,3,2, 4],  
                       'Organization':        [4,3,4, 4], 
                       'Delivery':            [2,3,3, 4]})

silas_score = 4+2+4+3
chris_score = 3+3+3+3
tisha_score = 4+4+4+4
todd_score = 2+3+4+2

overall_score = round(0.5*todd_score + 0.5*(silas_score + chris_score + tisha_score)/3, 2)
overall_score

12.33

In [6]:
from more_dfply import ifelse

In [7]:
scoring_table = (oralflag 
                    >> select(X.Group, X.Reviewer, X.Knowledge_of_Subject, X.Clear_Outcomes, X.Organization, X.Delivery)
                    >> gather('Question', 'score', columns_from('Knowledge_of_Subject'))
                    >> mutate(status = ifelse(X.Reviewer == 'Todd', 'Instructor', 'Not_Instructor'))
                    >> group_by(X.Group, X.Question, X.status)
                    >> summarise(avg = mean(X.score))
                    >> spread(X.status, X.avg)
                    >> mutate(Weighted = (0.5*(X.Instructor + X.Not_Instructor)).round(2))
                    >> drop(X.Instructor, X.Not_Instructor)
                    >> spread(X.Question, X.Weighted)
                    >> group_by(X.Group)
                    >> mutate(Knowledge_of_Subject_mean = X.Knowledge_of_Subject, 
                                Clear_Outcomes_mean = X.Clear_Outcomes,
                                Organization_mean = X.Organization,
                                Delivery_mean = X.Delivery)
                    >> drop(X.Knowledge_of_Subject, X.Clear_Outcomes, X.Organization, X.Delivery)
                    >> mutate(overall_score = (X.Clear_Outcomes_mean + X.Delivery_mean + 
                                               X.Knowledge_of_Subject_mean + X.Organization_mean))
                    )
scoring_table

,Group,Knowledge_of_Subject_mean,Clear_Outcomes_mean,Organization_mean,Delivery_mean,overall_score
0,1,2.56,1.44,1.50,1.67,7.17
1,2,2.67,1.78,1.83,2.06,8.34
2,3,2.50,1.94,2.06,1.94,8.44
3,4,1.67,1.22,2.44,2.06,7.39
4,5,2.11,2.00,2.11,2.06,8.28
5,6,1.50,2.06,1.67,2.06,7.29
6,7,2.17,1.50,2.33,1.67,7.67
7,8,2.44,2.50,1.94,1.50,8.38
8,9,2.33,1.33,1.78,2.50,7.94
9,10,2.61,2.17,1.44,1.28,7.50

## <font color="red"> Problem 3 - Comment Files</font>

Your final task is to make a comment data frame for each group and write each file to a csv.  Each file should have three columns: Group, Comments_Most_Effective, Comments_Needed_Improvements; with the second and third columns containing all the respective comments for that group. 

To complete this task, you should

1. Write a lambda function that takes the original table and a group number and returns a table containing the comments for that group.
2. Write a lambda function that takes the output from 1. and reshapes the data so the comments from the same reviewer are on the same line.
3. Write a lambda function that composes the last two function.
4. Write a for loop that constructs and writes out a table for each group.  Recall that you can write a Pandas `df` to a csv file using `df.to_csv('filename', index=False)`.

In [45]:
group_comments = lambda df, group:(df 
                                    >> select(X.Group, X.Comments_Most_Effective, X.Comments_Improvements, X.Reviewer)
                                    >> filter_by(X.Group == group)
)
group_comments(oralflag, 1)

,Group,Comments_Most_Effective,Comments_Improvements,Reviewer
0,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!,Chris
1,1,Silas looks young enough to be a student,Silas looks young enough to be a student,Brant
2,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!,April
3,1,Silas is a dork,Silas is a dork,Tisha
4,1,Iverson > Bergen,Iverson > Bergen,Todd
5,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!,Silas
6,1,Python is the best,I hate R almost as much as Excel!!1!,Jeff
7,1,Iverson > Bergen,Silas looks young enough to be a student,Nicole
8,1,Python is the best,I hate R almost as much as Excel!!1!,Jake
9,1,Iverson > Bergen,Python is the best,Sam

In [9]:
group_comments2 = lambda df: (df)
group_comments2(group_comments(oralflag, 1))

,Group,Comments_Most_Effective,Comments_Improvements,Reviewer
0,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!,Chris
1,1,Silas looks young enough to be a student,Silas looks young enough to be a student,Brant
2,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!,April
3,1,Silas is a dork,Silas is a dork,Tisha
4,1,Iverson > Bergen,Iverson > Bergen,Todd
5,1,I hate R almost as much as Excel!!1!,I hate R almost as much as Excel!!1!,Silas
6,1,Python is the best,I hate R almost as much as Excel!!1!,Jeff
7,1,Iverson > Bergen,Silas looks young enough to be a student,Nicole
8,1,Python is the best,I hate R almost as much as Excel!!1!,Jake
9,1,Iverson > Bergen,Python is the best,Sam

In [53]:
def groupstr(group):
    st = 'group{}comments.csv'
    return st.format(group)

In [54]:
for group in range(1,11):
    dfs[group] = group_comments(oralflag, group)
    dfs[group].to_csv(groupstr(group), index=False)